/* Importar la fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.cn-body {
  font-family: 'Fredoka One', cursive;
  margin: 0;
  padding: 0;
  /* background-color: #f3f4f6; */
  color: #333;
  text-align: center;
}

/* Game Container */
.cn-game-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.cn-title {
  font-size: 2.5rem;
  color: #007bff;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.cn-description,
.cn-equation,
.cn-score,
.cn-round,
.cn-message {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #555;
}

/* Number Grid */
.cn-number-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 20px 0;
}

/* Number Button */
.cn-number-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cn-number-button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.cn-number-button:active {
  background-color: #004085;
  transform: scale(1.05);
}

/* Game Over Message */
.cn-game-over-message {
  padding: 20px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 10px;
  margin-top: 20px;
}

.cn-game-over-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* Restart Button */
.cn-restart-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cn-restart-button:hover {
  background-color: #218838;
  transform: scale(1.1);
}

.cn-restart-button:active {
  background-color: #1e7e34;
  transform: scale(1.05);
}
